[Unit]
Description=OpenSubscribe - send confirm-subscribtion-mails daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/OpenSubscribe/python/OpenSubscribe.py --configFileName config/config_stormy_stories.json infoMailD

[Install]
WantedBy=multi-user.target
