[Unit]
Description=OpenSubscribe - send confirm-subscribtion-mails daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/OpenSubscribe/python/OpenSubscribe.py --confirmD

[Install]
WantedBy=multi-user.target
